.roboto-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin: 0rem;
  }  
.header{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0rem 1.5rem;

}


.header .left-header{
    display: flex;
    max-width: 60rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
}

.right-header{
    list-style-type: none;
    display: flex;
    margin: 0rem;
    padding: 0rem;
    gap: 1.5rem;
}

.right-header a{
    color: #e5e7eb;
    font-size: 1.125rem;
}

.header a{
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    color: #f9faf8;
  }
.middle {
    padding: 10rem 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    gap: 2rem;
}
.middle .left {
    max-width: 29rem;
}
.middle .right {
    max-width: 29rem;
}
.middle .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.middle .left h1 {
    font-size: 3rem;
    color: #f9faf8;
    font-weight: 900;
    margin: 0rem;
}

.middle .left p {
    font-size: 1.125rem;
    color: #e5e7eb;
    margin: 0rem;
}

.middle .left button{
    width: 15ch;
    flex-basis: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #3882F6;

}
.middle .left button a {
    text-decoration: none;
    color: #f9faf8;
    font-weight: 700;
  }

.middle .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
  color: white;
}
.facts{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1.5rem;
    padding-block-end: 4.5rem;
}
.facts h1{
    font-size: 2.25rem;
    font-weight: 900;
    color: #1f2937;
    padding: 18px;

}
.facts .bottom {
    display:flex;
    justify-content: space-between;
    color: #4b5563;
    flex-shrink: 1;
    gap: 1rem;
    font-size: 18px;
    max-width: 60rem;
}

.facts .images-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 11rem;
    text-align: center;
}

.facts .image{
    border: 3px solid #3882f6;
    border-radius: 1rem;
    height: 11rem;
    width: 100%;
}

.quote{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size:36px;
    font-style: italic;
    font-weight:light;
    background-color: #e5e7eb;
    padding: 0rem 1.5rem;
    color: #1f2937;
    height:30rem;
    justify-content: center;
}

.quote .long-quote{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:50rem;
    
}

.quote .long-quote .author {
    text-align: right;
    color: #1f2937;
    margin: 0rem;
    align-self: flex-end;
    font-weight: 700;
    font-size: 1.125rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.5rem;

  }

.box .action button{
    background-color: #3882f6;
    height: 2rem;
    flex-basis: 15ch;
    border: 2px solid #e5e7eb;
    border-radius: 0.5rem;
    position:relative;
    top:-2.5rem;
    margin-left: 40rem;

}


.box .action{
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    flex-basis: 60rem;
    margin: 8rem 0rem;
    border-radius: 0.4rem;
    
}

.box .action .left h3{
    font-size: 1.5rem;
    color: #e5e7eb;
    margin: 0rem;
    margin-bottom: 0.25rem;

}
.box .action .left p{
    color: #e5e7eb;
    margin: 0rem;  
}
.box .action .left a{
    text-decoration: none;
    color: #f9faf8;
    font-weight: 700;
}

.copyright{
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    color:#e5e7eb;
    font-size: 1.125rem;
    height:6rem;
    align-items: center;
}
